{% extends 'base.html' %}
{% load static %}
{% block title %}Add Coupan{% endblock title %}

{% block main-content %}

<div class="container my-3">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h6 class = 'text-center alert alert-info '>Please Enter the Coupans Info </h6>
      {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class = 'alert alert-{{message.tags}} mb-5' {% endif %}>
              {{message}}
            </p>
        {% endfor %}
      {% endif %}
      <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        {% for fm in form %}
            <div class='form-group col-lg-6 mb-3'>
            {{fm.label_tag}} {{fm}} <small class = 'text-danger'>{{fm.errors|striptags}}</small>
            </div>
        {% endfor %}
        <div class='col-12 mt-3'>
        <button type = 'submit' class = 'btn btn-primary mb-3'>Submit</button>
        </div>
      </form>
      
    </div>
  </div>
</div>
{% endblock main-content %}