{% extends 'base.html' %}
{% load static %}
{% block title %}Search Products{% endblock title %}
{% block main-content %}
<div class="container my-2">
  <div class="row">
    <div class="col-sm-12">
      <h6 class='text-center alert alert-info'>Products List</h6>
      {% if search_product %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">coupon</th>
            <th scope="col">category</th>
            <th scope="col">name</th>
            <th scope="col">Picture</th>
            <th scope="col">Rating</th>
            <th scope="col">Description</th>
            <th scope="col">MFD</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          {% for product in search_product %}
          <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{product.coupon}}</td>
            <td>{{product.category.category_name}}</td>
            <td>{{product.name}}</td>
            <td><img style='height: 100px; width: 100px;' src="{{product.picture.url}}"></img></td>
            <td>{{product.rating}}</td>
            <td>{{product.description}}</td>
            <td>{{product.MFD}}</td>
            <td>{{product.price}}</td>
            <td>
              <a href="{% url 'updateproduct' product.id %}" class='btn btn-warning btn-sm'>Edit</a><br><br>
              <form action="{%  url 'deleteproduct' product.id %}" method='post' class='d-inline'>
                {% csrf_token %}
                <input type='submit' class='btn btn-danger btn-sm' value='Delete'>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h6 class='text-center alert alert-warning'>No Product</h6>
      {% endif %}
    </div>
  </div>
</div>
{% endblock main-content %}