{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Product{% endblock title %}
{% block main-content %}
<div class="container my-2">
  <div class="row">
    <div class="col-sm-8 offset-2 ">
      <h6 class = 'text-center alert alert-info'>Update Product</h6>
      {% if messages %}
      {% for message in messages %}
          <p {% if message.tags %} class = 'alert alert-{{message.tags}} mb-5' {% endif %}>
            {{message}}
          </p>
      {% endfor %}
    {% endif %}
      <form action="" method="post">
       {% csrf_token %}
       {{form.as_p}}
       <input type ='submit' class ='btn btn-success' value = 'Update'> 
       <a href="{% url 'viewproduct' user.id %}" class ='btn btn-success' >View Product</a>
      </form>
    </div>
    
  </div>
</div>
{% endblock main-content %}