{% extends 'base.html' %}
{% load static %}
{% block title %}View Employees{% endblock title %}
{% block main-content %}
<div class="container my-2">
  <div class="row">
    <div class="col-sm-12">
      <h6 class = 'text-center alert alert-info'>Employees List</h6>
      {% if allemployees %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Emp ID</th>
              <th scope="col">User Name</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email Address</th>
              <th scope="col">Mobile number</th>
              <th scope="col">Gender</th>
              <th scope="col">Salary</th>
              <th scope="col">Job Title</th>
              <th scope="col">DOJ</th>
              <th scope="col">DOB</th>
              </tr>
          </thead>
          <tbody>
            {% for employee in allemployees %}
              <tr>
                <th scope="row">{{employee.id}}</th>
                <td>{{employee.user.username}}</td>
                <td>{{employee.user.firstname}}</td>
                <td>{{employee.user.lastname}}</td>
                <td>{{employee.user.emailaddress}}</td>
                <td>{{employee.user.mobile_number}}</td>
                <td>{{employee.user.gender}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.job_title}}</td>
                <td>{{employee.DOJ}}</td>
                <td>{{employee.DOB}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      {% else %}
      <h6 class = 'text-center alert alert-warning'>No Employee</h6>
      {% endif %}
    </div>
  </div>
</div>
{% endblock main-content %}