{% extends 'base.html' %}
{% load static %}
{% block title %}View Coupan{% endblock title %}
{% block main-content %}
<div class="container my-2">
  <div class="row">
    <div class="col-sm-12">
      <h6 class = 'text-center alert alert-info'>Coupan List</h6>
      {% if allcoupan %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">coupon_code</th>
            <th scope="col">coupon_percentage</th>
            <th scope="col">description</th>
            <th scope="col">start_date</th>
            <th scope="col">end_date</th>
            <th scope="col">Action</th>
           </tr>
        </thead>
        <tbody>
          {% for coupan in allcoupan %}
          <tr>
            <th scope="row">{{coupan.id}}</th>
            <td>{{coupan.coupon_code}}</td>
            <td>{{coupan.coupon_percentage}}</td>
            <td>{{coupant.description}}</td>
            <td>{{coupan.start_date}}</td>
            <td>{{coupan.end_date}}</td>
            <td>
            <form action = "{%  url 'deletecoupan' coupan.id %}" method ='post' class= 'd-inline'>
            {% csrf_token %}
             <input type = 'submit' class = 'btn btn-danger btn-sm' value='Delete'> 
            </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h6 class = 'text-center alert alert-warning'>No Product</h6>
      {% endif %}
    </div>
  </div>
</div>
{% endblock main-content %}