{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h1 class="text-center mb-5">Shopping Cart</h1>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3>Cart</h3>
          {% for cart in carts %}
          <hr>
          <div class="row">
            <div class="col-sm-3 text-center align-self-center"><img src="{{cart.product.picture.url}}" alt="" srcset=""
                class="img-fluid img-thumbnail shadow-sm" height="150" width="150"> </div>
            <div class="col-sm-4">
              <div>
                <h5>{{cart.product.name}}</h5>
                <p class="mb-2 text-muted small">{{cart.product.description}}</p>
                <div class="my-3">
                  <label for="quantity">Quantity:</label>
                  <a class="minus-cart btn" pid="{{cart.product.id}}"><i class="fas fa-minus-square fa-lg"></i></a>
                  <span id="quantity">{{cart.quantity}}</span>
                  <a class="plus-cart btn" pid="{{cart.product.id}}"><i class="fas fa-plus-square fa-lg"></i></a>
                </div>
                <div class="d-flex justify-content-between">
                  <a href="#" class="remove-cart btn btn-sm btn-secondary mr-3" pid="{{cart.product.id}}">Remove item
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">Original Price: <span><strong class="text-decoration-line-through">Rs. {{cart.original_cost}}</strong></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">Coupan: <span>{{cart.coupan.coupon_percentage}} % off</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Discounted Price:<span><strong>Rs. {{cart.total_cost}}</strong></span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"> </li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h3>The Total Amount of</h3>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Amount<span>Rs. <span id="amount">{{amount}}</span></span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Shipping<span>Rs.50.00</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>Total</strong> <small>(including TAX)</small>
              </div>
              <span><strong>Rs. <strong id="totalamount">{{totalamount}}</strong></strong></span>
            </li>
          </ul>
          <div class="d-grid"><a href="{% url 'checkout' %}" class="btn btn-primary">Confirm Order</a></div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock main-content %}