{% extends 'base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr>
      {% for item in cartitem %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.name}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
      {% endfor %}
      <p class="fw-bold">Total Cost + Rs. 50.0 = {{totalamount}}</p>
      <small>Term and Condition: </small>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <h4>Select Shipping Address</h4>
      <hr>
      <form action="/customer/paymentdone">
        {% for address in address %}
        <div class="card">
          <div class="card-body">
            <h5>{{address.user.username}}</h5>
            <p>{{address.home_street_no}}, {{address.city}}, {{address.state}},
              {{address.country}}, {{address.zip_code}}</p>
          </div>
        </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" value="{{address.id}}" >
          <label class="form-check-label fw-bold" for="">
            Address: {{forloop.counter}}</label>
        </div>
        {% endfor %}
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-1 px-5 fw-bold mb-3">Place Order</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}