{% extends 'base.html' %}
{% load static %}
{% block title %}Empty Cart{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3 class="text-center mb-5">you have no product in your cart</h3>
  <div class= "text-center">
      <img src="{% static 'images/emptycart.png' %}" alt = "" class="img-fluid img-thumbnail"> 
  </div>
  </div>
  </div>
{% endblock main-content %}