{% extends 'base.html' %}
{% load static %}
{% block title %}Mobile{% endblock title %}
{% block main-content %}
<div class="container my-3">
 <div class="row">
  <div class="col-sm-2">
  <div class = 'list-group'>
      <a href = "{% url 'mobile' %}" class= 'list-group-item list-group-item-action' aria-current="true">All Mobile</a> 
      <a href = "{% url 'mobiledatafilter' 'below' %}" class= 'list-group-item list-group-item-action' >Below 20000</a> 
      <a href = "{% url 'mobiledatafilter' 'above' %}" class= 'list-group-item list-group-item-action' >above 20000</a> 
      <a href = "{% url 'mobiledatafilter' 'low' %}" class= 'list-group-item list-group-item-action' >Low To High</a>
      <a href = "{% url 'mobiledatafilter' 'high' %}" class= 'list-group-item list-group-item-action' >High To Low</a>
  </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
    <div class="row ">
        {% for mob in mobiles %}
        <div class = 'col-sm-4 text-center mb-4'>
            <a href = "{% url 'productdetail' mob.pk %}" class = "btn">
            <div class = 'item'>
            <img src = "{{mob.picture.url}}" alt = ""  height="300" class = "">
            <div class = "fw-blod">{{mob.name}}</div> 
            <div class = "fw-blod">RS> {{mob.price}}       
            <small class="fw-light text-decoration-line-through">RS. {{mob.price}}</small>
            </div>
            </div>
            </a>    
        </div>
        {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock main-content %}