{% extends 'base.html' %}
{% load static %}
{% block title %}Order{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div>
            <h3>Orders</h3>
            <hr>
        </div>
        <div class="col-sm-10 offset-sm-1 mt-3" >
            {% for order in order %}
                <div class="row shadow-sm mb-3">
                    <div class = "col-sm-2">
                    <img src= "{{order.product.picture.url}}" alt="" srcset="" class="img-fluid" height="150" width="150">
                    </div>    
                    <div class="col-sm-7">
                        <p>Product: {{order.product.name}}</p>
                        <p>Quantity: {{order.quantity}}</p>
                        <p>Price: {{order.order_total_cost}}</p>
                    </div>
                    <div class="col-sm-3 fw-bold">
                        <p>Order Status: {{order.status}}
                        {% if order.status == 'Accepted' %}
                        <div class = "progess">
                            <div class = "progress-bar" role = "progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        {% endif %}

                        {% if order.status == 'Packed' %}
                        <div class = "progess">
                            <div class = "progress-bar bg-info" role = "progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        {% endif %}

                        {% if order.status == 'On The Way' %}
                        <div class = "progess">
                            <div class = "progress-bar bg-warning" role = "progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        {% endif %}


                        {% if order.status == 'Delivered' %}
                        <div class = "progess">
                            <div class = "progress-bar bg-success" role = "progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        {% endif %}

                    </div> <!--order status -->
                </div> <!--second row -->
           {% endfor %}
        </div> <!-- 2nd col closed -->
    </div> <!-- Row closed -->
</div> <!--Container Closed -->

{% endblock main-content %}