{% extends 'base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.picture.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>Product Title: {{product.name}} </h2>
   <hr>
   <h6>Description</h6>
   <p>{{product.description}}</p> <br>
   <h4>RS. {{discounted_price}} <small class="fw-light text-decoration-line-through">RS. {{product.price}}</small></h4> <br>
    {% if request.user.is_authenticated %}
        {% if item_already_in_cart %}
            <a href="{% url 'showcart' %}" class = "btn btn-warning shadow px-5 py-2 ms-4 ">Go to Cart</a>
        {% else %}
            <form action="/customer/add-to-cart/" class = "d-inline">
                <input type="hidden" name="product_id" value = {{product.id}} id="product_id">
                <input type="hidden" name="discounted_price" value = {{discounted_price}} id="discounted_price">
               
                <button type = "submit" class= "btn btn-primary shadow px-5 py-2">Add To Cart</button>
            </form>
        {% endif %}
    {% endif %}

    {% if not request.user.is_authenticated %}
        <form action="/customer/add-to-cart/" class = "d-inline">
            <input type="hidden" name="product_id" value = {{product.id}} id="product_id">
            <button type = "submit" class= "btn btn-primary shadow px-5 py-2">Add To Cart</button>
        </form>
    {% endif %}

   <a href="{% url 'checkout' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
  
    {% if product.coupon %}
        <h5 class="mt-5">Applied Coupans</h5>
        <li>{{product.coupon.coupon_percentage}}% off</li>
    {% else %}
        <h3>No Coupan</h3>
    {% endif %}
  </div>
 </div>
</div>
{% endblock main-content %}