{% extends 'base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Taruna</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3>Address 1</h3>
       <p>Name: Taruna Verma</p>
       <p>Address 1: Indore</p>
       <p>Address 2: Mhow</p>
       <p>State: MadhyaPradesh</p>
      </div>
     </div>
    </div>
    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3>Address 2</h3>
       <p>Name: Taruna Verma</p>
       <p>Address 1: Indore</p>
       <p>Address 2: Mhow</p>
       <p>State: MadhyaPradesh</p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}