{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>User Login</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                   <div class='form-group'>
                    {{fm.label_tag}} {{fm}} <small class = 'text-danger'>{{fm.errors|striptags}}</small><br>
                   </div>
                {% endfor %}
                <small><a href = "#" >Forgot Password ?</a></small><br>
                <input  type = 'submit' value = 'Login' class = 'btn btn-primary mt-4'><br>
                <div class="text-center text-primary fw-bold"><small>New to Store ? <a
                    href="{% url 'customerregistration' %}" class="text-danger">Create an Account</a> </small>
                </div>
                {% if form.non_field_errors %}
                {% for error in from.non_field_errors %}
                   <p class = 'alert alert-danger my-3'>{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}