{% extends 'base.html' %}
{% load static %}
{% block title %}Registration{% endblock title %}
{% block main-content %}
<div class="container">
   <div class="row my-3">
      <div class="col-sm-6 offset-sm-3">
         <h3>Registration</h3>
         <hr>

         <form action="" method="post" novalidate class="shadow p-5">
            {% if messages %}
               {% for message in messages %}
                  <p {% if message.tags %} class = 'alert alert-{{message.tags}} mb-5' {% endif %}>
                     {{message}}
                  </p>
               {% endfor %}
            {% endif %}
            {% csrf_token %}
            {% for fm in form %}
               <div class='form-group mb-3'>
                {{fm.label_tag}} {{fm}} <small class = 'text-danger'>{{fm.errors|striptags}}</small>
               </div>
            {% endfor %}
            <input type = 'submit' value = 'submit' class = 'btn btn-primary'>
            <br>
            <div class = 'text-center text-primary fw-bold'>
               <small>Existing User ? 
                  <a href = "{% url 'login' %}" class = 'text-danger'>Login Now</a>
               </small>
            </div>
            {% if form.non_field_errors %}
               {% for error in from.non_field_errors %}
                  <p class = 'alert alert-danger my-3'>{{error}}</p>
               {% endfor %}
            {% endif %}
   
         </form>
      </div>
   </div>
</div>
{% endblock main-content %}