{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<!--Banner Slider-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/banner/b1.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b2.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b3.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b4.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
{% endblock banner_slider %}
<!-- End Banner Slider -->

{% block main-content %}

<!-- 1st Product Slider -->
<div class="m-3">
  <h2>Mobiles</h2>
  <!-- Slider 1 -->
  <div class="owl-carousel" id="slider1">
    {% for mob in mobiles %}
    <a href="{% url 'product-detail' %}" class="btn">
      <div class="item"><img src="{{mob.picture.url}}" alt="" height="200px">
        <span class="fw-bold">{{mob.name}}</span><br>
        <span class="fs-5">Rs.{{mob.price}}</span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- end Slider1-->


<!-- 2nd Product Slider -->
<div class="mx-3">
  <h2>Trending Deals</h2>
  <!-- Slider 2 -->
  <div class="owl-carousel" id="slider2">
    {% for mob in mobiles %}
    <div class="item"><img src="{{mob.picture.url}}" alt="" height="200px">
      <span class="fw-bold">{{mob.name}}</span><br><span class="fs-5">Rs.{{mob.price}}</span>
    </div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- End 2nd Product Slider -->
{% endblock main-content %}