<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!--Owl Carousel CSS-->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

  <!--FontAwesome CSS-->
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">

  <!--Custom CSS-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <title>{% block title %} {% endblock title %} </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          {% if user.user_type == 'Customer' %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="electronicsDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Electronics
            </a>
            <ul class="dropdown-menu" aria-labelledby="electronicsDropdown">
              <li><a class="dropdown-item" href="{% url 'mobile' %}">Mobile</a></li>
              <li><a class="dropdown-item" href="#">Laptop</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="fashionDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Clothes
            </a>
            <ul class="dropdown-menu" aria-labelledby="fashionDropdown">
              <li><a class="dropdown-item" href="#">Top Wear</a></li>
              <li><a class="dropdown-item" href="#">Bottom Wear</a></li>
            </ul>
          </li>
          <li class="nav-item mx-2">
            <a href="{% url 'showcart' %}" class="nav-link text-white"><span class="badge bg-danger">4</span> Cart
            </a>
          </li>
          {% endif %}
          {% if user.user_type == 'Partner' %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="productinfo" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Product
            </a>
            <ul class="dropdown-menu" aria-labelledby="productinfo">

              <li><a class="dropdown-item" href="{% url 'addproduct' user.id %}">Add Product</a></li>
              <li><a class="dropdown-item" href="{% url 'viewproduct' user.id %}">View Product</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'employeelist' user.id %}">Employee List</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="productinfo" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Coupan
            </a>
            <ul class="dropdown-menu" aria-labelledby="productinfo">

              <li><a class="dropdown-item" href="{% url 'addcoupan' user.id %}">Add Coupans</a></li>
              <li><a class="dropdown-item" href="{% url 'viewcoupan' user.id %}">View Coupans</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="productinfo" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="productinfo">

              <li><a class="dropdown-item" href="{% url 'viewproductfitter' user.id 'mobile' %}">Mobile</a></li>
              <li><a class="dropdown-item" href="{% url 'viewproductfitter' user.id 'laptop' %}">Laptop</a></li>
              <li><a class="dropdown-item" href="{% url 'viewproductfitter' user.id 'topwear' %}">Top Wear</a></li>
              <li><a class="dropdown-item" href="{% url 'viewproductfitter' user.id 'bottomwear' %}">Bottom Wear</a>
              </li>

            </ul>
          </li>
          {% endif %}
          {% if user.user_type == 'Employee' %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="employeedropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Employee
            </a>
            <ul class="dropdown-menu" aria-labelledby="employeedropdown">

              <li><a class="dropdown-item" href="#">Add Employe</a></li>
              <li><a class="dropdown-item" href="#">View Employee</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Employee List</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" action="{% url 'productsearch' %}" method='GET'>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="productsearch">
          <button class="btn btn-warning" type="submit">Search</button>
        </form>
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user.username}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>
                <li><a class="dropdown-item" href="{% url 'changepassword' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>

            {% else %}
            <li class="nav-item mx-2">
              <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
            </li>
            <li class="nav-item mx-2">
              <a href="{% url 'customerregistration' %}" class="nav-link text-white">Registration</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>

  {% block banner_slider %} {% endblock banner_slider %}
  {% block main-content %} {% endblock main-content %}



  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>

  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/all.min.js' %}"></script>
  <script src="{% static 'js/myscript.js' %}"></script>

</body>

</html>