<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-4">We accept</h5>
                    <img src="{% static 'images/payment.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>